[Desktop Entry]
Encoding=UTF-8
Name=Lien vers 1280x720 Space Activity
Type=Link
URL=http://wallpaperstock.net/space-activity-wallpapers_28298_1280x720.jpg
Icon=application-force-download
